
<a href="{{ path('admin_app_worklog_create', {'issue': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Create Worklog'|trans }}">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    {{ 'Create Worklog'|trans }}
</a>