{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <strong>{% if value // 3600 %}{{ value // 3600 }} h {% endif %}{% if value % 3600 / 60 %}{{ value % 3600 / 60 }} m {% endif %}</strong>
    </div>
{% endblock %}