{% set results = admin.getWorklogTimesheetReport(admin.datagrid.results) %}
<tr>
    <th></th>
</tr>
<tr>
    <th>Project</th>
    <th>Issue</th>
    {% for day, dayTime in results.days %}
        <th>{{ day }}</th>
    {% endfor %}
    <th>Issue All</th>
</tr>
<tr>
{% for project, issues in results.projects %}
    {% set projectAll = 0 %}
<tr>
    <th rowspan="{{ issues|length + 1 }}">{{ project }}</th>

    {% set issueKey = 0 %}
    {% for issue, issueDays in issues %}
</tr>
<tr title="{{ issue }} - {{ project }}">
    <th>{{ issue }}</th>
    {% set issueAll = 0 %}
    {% for day, dayTime in results.days %}
        {% set find = 0 %}
        {% for iday, issueDayTime in issueDays %}
            {% if iday == day %}
                {% set find = 1 %}
                {% set issueAll = issueAll + issueDayTime %}
                <td>{{ (issueDayTime / 3600)|number_format(1) }}</td>
            {% else %}
            {% endif %}
        {% endfor %}
        {% if find == 0 %}
            <td></td>
        {% endif %}
    {% endfor %}
    <th>{{ (issueAll / 3600)|number_format(1) }}</th>
    {% set projectAll = projectAll + issueAll %}
    {% set issueKey = issueKey + 1 %}
    {% endfor %}

</tr>
<tr class="success">
    <th colspan="{{ results.days|length + 2 }}" style="text-align: right">{{ project }}:</th>
    <th title="{{ project }}">{{ (projectAll / 3600)|number_format(1) }}</th>
</tr>
{% endfor %}
<tr class="warning">
    <th></th>
    <th></th>
    {% for day, dayTime in results.days %}
        <th>{{ (dayTime / 3600)|number_format(1) }}</th>
    {% endfor %}
    <th>{{ (results.all / 3600)|number_format(1) }}</th>
</tr>
<tr>
    <th>Project</th>
    <th>Issue</th>
    {% for day, dayTime in results.days %}
        <th>{{ day }}</th>
    {% endfor %}
    <th>All</th>
</tr>