

{% import _self as macros %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2) ~ ' KB' }}
        {% else %}
            {{ (bytes / megabyte)|number_format(2) ~ ' MB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% extends 'SonataMediaBundle:MediaAdmin:edit.html.twig' %}


                {% block sonata_media_show_reference %}
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'title.media_preview'|trans({}, 'SonataMediaBundle') }}</h3>
                            {% if sonata_media.pixlr and sonata_media.pixlr.isEditable(object) %}
                                <div class="box-tools pull-right">
                                    <button class="btn btn-sm btn-default pixlr-link"
                                            data-href="{{ path('sonata_media_pixlr_open_editor', { 'id': object|sonata_urlsafeid }) }}"
                                            data-toggle="modal"
                                            data-target="#pixlr-modal"
                                    >
                                        <i class="fa fa-pencil-square-o"></i> {{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle") }}
                                    </button>
                                </div>
                            {% endif %}

                        </div>
                        <div class="box-body table-responsive">

                            <div class="text-center">
                                {% media object, 'reference' with {'class': 'img-responsive img-rounded'} %}
                            </div>

                            <table class="table">
                                <tr>
                                    <th>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}</th>
                                    <td>
                                        {{ object.width }} x {{ object.height }}
                                        {% if object.size > 0 %}({{ macros.bytesToSize(object.size) }}){% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}</th>
                                    <td>{{ object.contenttype }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.cdn'|trans({}, 'SonataMediaBundle') }}</th>
                                    <td>
                                        {% if object.cdnisflushable %}
                                            {{ 'label.to_be_flushed'|trans({}, 'SonataMediaBundle') }}
                                        {% else %}
                                            {{ 'label.flushed_at'|trans({}, 'SonataMediaBundle') }}
                                            {{ object.cdnflushat|date }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <th><a class="btn btn-primary" href="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}"><i class="fa fa-link" aria-hidden="true"></i> {{ 'Download'|trans({}) }}</a></th>
                                </tr>
                                <tr>
                                    <th><a class="btn btn-primary" href="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}"><i class="fa fa-link" aria-hidden="true"></i> {{ 'label.protected_download_url'|trans({}, 'SonataMediaBundle') }}</a></th>
                                    <td>
                                        <input type="text" class="form-control" onClick="this.select();" readonly="readonly" value="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}" />
                                        <span class="label label-warning">{{ 'label.protected_download_url_notice'|trans({}, 'SonataMediaBundle') }}</span> {{ sonata_media.pool.downloadStrategy(object).description|raw }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <a class="btn btn-primary" href="{% path object, 'reference' %}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> reference</a>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" onClick="this.select();" readonly="readonly" value="{% path object, 'reference' %}" />
                                    </td>
                                </tr>

                                {% for name, format in sonata_media.pool.formatNamesByContext(object.context) %}
                                    <tr>
                                        <th>
                                            <a class="btn btn-primary" href="{% path object, name %}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> {{ name }}</a>
                                        </th>
                                        <td>
                                            <input type="text" class="form-control" onClick="this.select();" readonly="readonly" value="{% path object, name %}" />
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                {% endblock sonata_media_show_reference %}