{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}


{% block field %}
    <ul>
    {% for val in value %}
        <li><a href="{{ path('sonata_media_download', {'id': val.media|sonata_urlsafeid }) }}">{{ val.media }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}